@import"size";
@import"layout";
.index-main{
    display:flex;
    max-width: 1152px;
    margin:0 auto;
    @include tab-size-s{
    display: block;
    }
}
.index-main-right{
    box-sizing: border-box;
    width: 55%;
    padding:3%;
    position: relative;
    border-left:1px dashed #CCCCCC;
    margin-bottom:2%;
    @include tab-size{
    width: 100%;
    border-left: 0px ;
    }      
}
.index-main-title{
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
    font-size: 1.5rem;
    padding-bottom:2%;   
}
.index-main-crad{
   border-bottom:1px dashed #CCCCCC;
   padding:5%;
   .card-title{
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
    font-size: 1.2rem;
    margin-bottom:2%;
}
.card-time{
    margin-top:2%;
    text-align:end;
}
.card-Text{
    text-decoration: none;
    color: #000;
    line-height: 1.5rem;
    letter-spacing:0.1rem;

}


}

.index-main-left{
    align-items: center;
    box-sizing: border-box;
    width: 40%;
    padding:3%;
    @include tab-size{
    width: 100%;
    }
}

.index-btn-position{
    display: flex;
    justify-content: flex-end;
    margin:5% 0;
}
.index-more-btn{
    padding:2% 3%;
    text-align: center;
    border:1px solid;
    border-radius:5px;
    width: 50px;
    &:hover{
        background-color:gray;
    }
    
}

