.banner {
  background-position: center center;
  background-size: cover;
  height: 600px;
  background-attachment: fixed;
}

//===============
// banner輪播效果
//===============
.scroll-bar {
  position: relative;
  height: 600px;

  display: block;
  overflow: hidden;
  @media (max-width: 600px) {
    height: 300px;
    padding-top: 50px;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    z-index: 2;
  }
  6%,
  25% {
    opacity: 1;
    z-index: 1;
  }
  31%,
  100% {
    opacity: 0;
    z-index: 0;
  }
}

#pic1 {
  animation-delay: 0s;
}
#pic2 {
  animation-delay: 4s;
}
#pic3 {
  animation-delay: 8s;
}
#pic4 {
  animation-delay: 12s;
}

.scroll-banner {
  background-attachment: fixed;
  position: absolute;
  animation: show 16s infinite;
  background-position: center center;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: 468px) {
    height: 300px;
  }
}

.banner-1 {
  background-image: url(../img/banner-01.jpg);
}
.banner-2 {
  background-image: url(../img/banner-02.jpg);
}
.banner-3 {
  background-image: url(../img/banner-05.jpg);
}
.banner-4 {
  background-image: url(../img/banner-04.jpg);
}
.banner {
  height: 400px;
  background-image: url(../img/banner-01.jpg);
  @media (max-width: 468px) {
    height: 200px;
  }
}
.index-main-bg {
  position: relative;
  @include tab-size-s {
    margin-top: 10%;
  }
}
.TreeBranch-position {
  img {
    width: 100%;
  }
  margin-top: -6%;
  margin-left: 8%;
  position: absolute;
  width: 12%;
  z-index: 60;
}

.bike-position,
.foodware-position {
  img {
    width: 90%;
  }
  margin-top: -7%;
  right: 10%;
  position: absolute;
  width: 12%;
  z-index: 60;
  @include tab-size-L {
    width: 18%;
  }
}
.foodware-position {
  img {
    width: 60%;
  }
  margin-top: -3%;
}
.index-main-mountain-position-right {
  img {
    width: 100%;
  }
  margin-top: 3%;
  right: -3%;
  position: absolute;
  width: 18%;
}
.index-main-mountain-position-left {
  img {
    width: 100%;
  }
  margin-top: 30%;
  position: absolute;
  left: -6%;
  width: 18%;
}
.index-play-mountain-position-left {
  img {
    width: 100%;
  }
  position: absolute;
  margin-top: 15%;
  left: -6%;
  width: 15%;
}
.index-about-mountain-position-left {
  img {
    width: 100%;
  }
  position: absolute;
  margin-top: 5%;
  left: -6%;
  width: 15%;
}
.index-main-mountain-position-right-bottom {
  img {
    width: 100%;
  }
  margin-top: 45%;
  right: -3%;
  position: absolute;
  width: 18%;
}
.bird-position {
  width: 15%;
  margin-top: -20%;
  @include tab-size-L {
    width: 25%;
    margin-top: -30%;
  }
  @include tab-size-s {
    display: none;
  }
}
.TreeBranch-position-right {
  right: 10%;
  @include tab-size {
    display: none;
  }
}
.index-about-TreeBranch-position-right {
  right: 10%;
  margin-top: -15%;
}
.flag-position {
  img {
    width: 100%;
  }
  margin-top: -4%;
  margin-left: 10%;
  position: absolute;
  width: 12%;
  z-index: 60;
}
.ribbon-position {
  width: 12%;
  margin: 0 auto;
  @include tab-size {
    width: 20%;
  }
  @include tab-size-s {
    width: 30%;
    margin-bottom: 3%;
  }
  img {
    width: 100%;
  }
}
.ribbon-position-text {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  @include tab-size-L {
    width: 60%;
  }
  @include phone-size {
    width: 80%;
  }

  h3 {
    font-size: 26px;
    width: 50%;
    font-weight: 600;
    color: $main-color-green;
    font-family: $main-font;
    padding-bottom: 1%;
    @include tab-size {
      width: 100%;
    }
    @include phone-size {
      margin-bottom: 5%;
    }
  }
  p {
    font-family: $main-font;
    font-size: 17px;
    line-height: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
}
.ribbon-title {
  display: flex;
  padding: 2% 0;
}
.ribbon-title-bg {
  width: 100%;
  height: 30px;
  background: url(../img/line-03.svg) repeat-x;
  @include phone-size {
    width: 40%;
  }
}

.index-main {
  display: flex;
  max-width: 1152px;
  margin: 0 auto;
  padding-bottom: 2%;
  padding-top: 2%;
  @include tab-size-s {
    display: block;
  }
  @include tab-size-s {
    padding-top: 20%;
  }
  @include phone-size {
    padding-top: 10%;
  }
}
.index-main-right {
  box-sizing: border-box;
  width: 55%;
  padding: 3%;
  position: relative;
  border-left: 1px dashed $main-color-green;
  margin-bottom: 2%;
  @include tab-size {
    width: 100%;
    border-left: 0px;
  }
  @media (max-width: 960px) {
    width: 50%;
    padding: 3%;
  }
  @media (max-width: 920px) {
  }
  @include tab-size-s {
    width: 100%;
    padding-top: 5%;
  }
}
.index-main-title {
  font-family: $main-font;
  font-size: 1.5rem;
  font-weight: 600;
  img {
    width: 220px;
  }
  @include phone-size {
    text-align: center;
  }
}
.index-main-card {
  border-bottom: 1px dashed $main-color-green;
  padding: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
  background-color: #f2f6ea;
  @include phone-size {
    margin-bottom: 6%;
  }

  .card-title {
    font-family: $main-font;
    font-size: 1.2rem;
    margin-bottom: 2%;
    font-weight: 600;
  }
  .card-time {
    margin-top: 2%;
    text-align: end;
  }
  .card-Text {
    text-decoration: none;
    color: #000;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }
}

.index-main-crad-href {
  cursor: pointer;
}
.index-main-left {
  align-items: center;
  box-sizing: border-box;
  width: 40%;
  padding: 3%;
  @include tab-size {
    width: 50%;
  }
  @include tab-size-s {
    display: none;
  }
}

.index-btn-position {
  display: flex;
  justify-content: flex-end;
  margin: 5% 0;
}
.index-more-btn {
  cursor: pointer;
  a {
    color: #fff;
    :hover {
      color: $main-color-green;
    }
  }
  height: 40px;
  width: 120px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: $main-color-green;
  border: 2px solid $main-color-green;
  border-radius: 40px;
  font-size: 1.2rem;
  font-family: $main-font;
  &:hover {
    border: 2px solid #b8cf92;
    background: #b8cf92;
  }
}
.index-play-bg,
.index-present-bg {
  background-color: #f2f6ea;
  padding-top: 5%;
  padding-bottom: 5%;
  @include tab-size-s {
    padding-top: 15%;
  }
}
.index-about {
  padding: 5% 2%;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  @include tab-size-L {
    padding-left: 8%;
    padding-right: 8%;
  }
  @include tab-size-s {
    display: block;
    padding: 5%;
  }
}

.index-about-img {
  border-radius: 10%;
  width: 300px;
  height: 300px;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/img_05.jpg);

  @include tab-size {
    width: 250px;
    height: 250px;
    margin: 3%;
  }
  @include tab-size-s {
    margin: 0 auto;
    margin-bottom: 10%;
  }
}
.index-about-bg,
.index-food-bg {
  background-color: #fff;
  padding-top: 5%;
  @include tab-size-s {
    padding-top: 15%;
  }
}
.index-food-bg {
  padding-bottom: 5%;
}
.index-about-text {
  box-sizing: border-box;
  width: 60%;
  margin-left: 3%;
  @media (max-width: 768px) {
    width: 55%;
  }
  @media (max-width: 680px) {
    width: 45%;
  }
  @include tab-size-s {
    margin: 0 5%;
    width: 90%;
  }
}
.index-about-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #15713d;
  margin: 3% 0;
  font-family: $main-font;
  img {
    max-width: 220px;
  }
}
.index-about-content {
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: $main-font;
  letter-spacing: 0.1rem;
  @include tab-size-L {
    margin-right: 2%;
    box-sizing: border-box;
  }
  @include tab-size-s {
    margin-bottom: 15%;
  }
  @include phone-size {
    margin-right: 0;
    margin-bottom: 30%;
  }
}

.fix-index-bottom {
  margin-bottom: -25px;
  @media (max-width: 705px) {
    margin-bottom: -15px;
  }
  @media (max-width: 450px) {
    margin-bottom: -10px;
  }
}
.img-logo-bg {
  background-color: #fff;
}
.img-logo {
  display: flex;
  padding-bottom: 6%;
  border-top: 16px solid #ffe04c;
  justify-content: center;
  width: 100%;
  img {
    margin-top: -150px;
    z-index: 30;
    max-width: 860px;
    @media (max-width: 860px) {
      max-width: 100%;
    }
    @media (max-width: 600px) {
      display: none;
      border-top: 10px;
    }
  }
  @media (max-width: 600px) {
    border-top: 10px;
  }
}

.fix-index-top {
  margin-top: -120px;
}
.index-div-show {
  opacity: 1 !important;
}
.index-play,
.index-food,
.index-present {
  opacity: 0;
  transition: all 1s;
  max-width: 1200px;
  margin: 0 auto;
  @include tab-size-s {
    display: block;
  }
}
.index-play-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5%;
  margin-bottom: 3%;
  font-family: $main-font;
  img {
    max-width: 210px;
    margin-bottom: 2%;
  }
}
.index-play-img {
  overflow: scroll;
  scroll-behavior: smooth;
  overflow: auto;
  overflow-x: hidden;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  div {
    padding: 1%;
    font-size: 1.2rem;
    font-family: $main-font;
    text-align: center;
  }

  img {
    width: 360px;
    height: 300px;
    border-radius: 20%;
    margin: 0 1%;
    margin-bottom: 5%;
    object-fit: cover;
    @media (max-width: 1160px) {
      width: 280px;
    }
    @media (max-width: 468px) {
      width: 120px;
      height: 120px;
    }
  }
}

.index-photobar-bg {
  padding-top: 1%;
  padding-bottom: 3%;
  max-width: 1200px;
  margin: 0 auto;
  @include tab-size-s {
    display: block;
  }
}
.index-photobar-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3%;
  margin-bottom: 1.8%;
  font-family: $main-font;
  div {
    padding: 0.5% 0;
  }
  img {
    max-width: 300px;
  }
}
.index-photobar-img {
  margin-top: -10%;
  @media (max-width: 1600px) {
    margin-top: -6%;
    margin-right: 5%;
    margin-left: 5%;
  }

  display: flex;
  max-width: 1200px;
  justify-content: center;
  div {
    padding: 1%;
    font-size: 1.2rem;
    font-family: $main-font;
    text-align: center;
  }

  img {
    width: 100%;
    height: 280px;
    @media (max-width: 1160px) {
      height: 200px;
    }
    @media (max-width: 820px) {
      height: 150px;
    }
    @media (max-width: 680px) {
      height: 120px;
    }
    border-radius: 80px;
    margin: 0 1.5%;
    margin-bottom: 5%;
    object-fit: cover;
    @media (max-width: 425px) {
      height: 80px;
    }
  }
  @media (max-width: 425px) {
    height: 100px;
  }
}
.index-photo-bar {
  display: flex;
  align-items: center;
}
.photobar-btn {
  &:hover {
    filter: brightness(1.2);
  }
}
.index-play-left-btn,
.index-play-right-btn {
  font-size: 2rem;
  cursor: pointer;
  color: $main-color-green;
  font-size: 3rem;
  margin-bottom: 10%;
  &:hover {
    color: $second-color-green;
  }
}
.index-play-photo,
.index-food-photo,
.index-present-photo {
  display: flex;
  width: 90%;
  padding-bottom: 5%;
  margin: 0 auto;
  @include phone-size {
    display: block;
  }
}
.index-present-photo-bground {
  width: 70%;
  margin-top: 16%;
  margin-left: 8%;
  height: 60%;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}
.index-food-photo,
.index-present-photo {
  padding-top: 5%;
}
.index-present-shiny {
  width: 30%;
  height: 30%;
  position: absolute;
  left: -10%;
  top: 5%;
  z-index: 60;
}
.index-play-photo-img,
.index-food-photo-img,
.index-present-photo-img {
  width: 32.333%;
  margin: 1%;
  height: 100%;
  position: relative;
  img {
    width: 100%;
  }
  @include phone-size {
    margin: 0 auto;
    width: 60%;
    margin-top: 10%;
  }
}
.index-play-photo-round-bg-move {
  margin-top: 55% !important;
}
.index-food-photo-round-bg-move {
  margin-top: 0% !important;
}
.index-Present-photo-round-bg-move {
  margin-top: 55% !important;
}
.index-play-photo-round-bg,
.index-present-photo-round-bg {
  opacity: 0;
  transition: all 0.5s;
  width: 45%;
  height: 45%;
  z-index: 60;
  margin-left: 55%;
  margin-top: 100%;
  //margin-top: 55%;
  position: absolute;
}
.index-play-star {
  width: 30%;
  height: 30%;
  z-index: 60;
  margin-left: -30%;
  margin-top: 32%;
  position: absolute;
  animation: shiny infinite;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  /* Safari and Chrome */
  -webkit-animation: shiny infinite;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: alternate-reverse;
  @include tab-size-L {
    display: none;
  }
  @keyframes shiny {
    from {
      //width: 160px;
      //height: 160px;
    }
    to {
      //width: 200px;
      // height: 200px;
      transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5); /* Internet Explorer */
      -moz-transform: scale(1.5, 1.5); /* Firefox */
      -webkit-transform: scale(1.5, 1.5); /* Safari 和 Chrome */
      -o-transform: scale(1.5, 1.5); /* Opera */
    }
  }
  .index-play-star-pic {
    width: 40%;
    margin-top: 33%;
    margin-left: 33%;
  }
}
.star-left {
  margin-left: 100%;
}
.index-food-teapot {
  width: 30%;
  @include tab-size-L {
    margin-left: 15%;
    width: 50%;
  }
  height: 30%;
  z-index: 60;
  margin-left: -5%;
  position: absolute;
  animation: tableware infinite;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  /* Safari and Chrome */
  -webkit-animation: tableware infinite;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-direction: alternate-reverse;
  @keyframes tableware {
    from {
    }
    to {
      -ms-transform: rotate(3deg); /* IE 9 */
      transform: rotate(3deg);

      // transform: scale(1.5, 1.5);
      // -ms-transform: scale(1.5, 1.5); /* Internet Explorer */
      // -moz-transform: scale(1.5, 1.5); /* Firefox */
      // -webkit-transform: scale(1.5, 1.5); /* Safari 和 Chrome */
      // -o-transform: scale(1.5, 1.5); /* Opera */
    }
  }
  .index-food-teapot-pic {
    width: 35%;
  }
}
.index-food-photo-round-bg {
  opacity: 0;
  transition: all 0.5s;
  margin-left: 0%;
  margin-top: 50%;
  width: 50%;
  height: 50%;
  z-index: 60;
  position: absolute;
}

.index-play-photo-text,
.index-food-photo-text,
.index-present-photo-text {
  margin-top: 8%;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: #15713d;
  font-family: $main-font;
}
.index-food-photo-text {
  line-height: 1.5rem;
  font-size: 1.2rem;
}
.index-play-photo-line,
.index-food-photo-line,
.index-present-photo-line {
  background-color: $second-color-yellow;
  width: 60%;
  margin: 0 auto;
  margin-top: 1%;
  padding-top: 2%;
}
.index-play-btn-position {
  display: flex;
  justify-content: center;
  @include tab-size {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.fa-arrow-right {
  margin-left: 8%;
}
