// body{
//     background-color: #f8f6ec;
// }
.mine-top{
padding-top:9%;
}
.nav-bar{
    z-index: 51;
    background: #7b9a48;
    width: 100%;
    position: fixed;
    height: 46px;
    @include tab-size-s{
    //display:none;
    }
    
}
.nav-bar-width{
    margin:0 auto;
    max-width: 1000px;
    //padding: 1%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content:space-between;

}
.nav-bar-logo{
    img{
     height: 38px;    
    }
   
}
.user-login{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

}
.user-photo{
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    //background-color: #3a5215;
    img{
        width: 32px;
        height: 32px;
    }
}

.title{
   background-color: #fff;
    display: flex;
    justify-content: center;
    //padding:5% 0;
    img{
        width: 960px;
        //max-width: 960px;
    }
  
}
.menu{
    @include tab-size-s{
        display:none;
    }
    a{      
        width: 230px;
        margin-left:5%;
        margin-right:5%;
        height: 50px;
        line-height:50px;
        margin:0 auto;
        font-size: 1.1rem;
        background: #7b9a48;
        color: #fff;
        font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
        text-align: center;
        &:hover{
            background: #c9e49d;
            color: #3a5215;
        }
    }
  
    max-width:1000px;
    margin:0 auto;
    margin-top:3%;
    margin-bottom:3%;
    display: flex;
}
.new-menu{
   z-index: 50;
   margin-top:46px;
   width: 100%;
   position: fixed;
   display: flex; 
   
   height: 65px;
   font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
   justify-content:center;
   background-color: #fff;
   font-size: 1.1rem;
   letter-spacing: 0.1rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
   a{
    width: 230px;
    border-bottom:8px solid  #fff;
    &:hover{
    border-bottom:8px solid  #ffe04c;    
    }
   }
   li{
       line-height: 65px;
       text-align: center;
       border-left: 1px #e5e5e5 solid;
       
   }
   .menu-border-right{
    border-right: 1px #e5e5e5 solid;
   }
   @include tab-size-s{
    display:none;
}
}

.mobile-menu{
    display: none;
    background-color: #fff;
    @include tab-size-s{
        display:block;
    }
}
.mobile-menu-title{
    display: none;
    padding-top:46px;
    //padding: 20px 0;
    justify-content: space-between;
    @include tab-size-s{
        display:flex;
    }

}

.mobileLogo{
   max-width:250px;
   margin-left:18px;
}

.mobile-menu-buttom{
   font-size:23px; 
   margin-right:5%;
   margin-top:3%; 
}

.mobile-menu-list{
    display: block;
    height: 0;
    transition: all 0.5s;  
    overflow: hidden;
    li{
    text-align: center;
    font-size: 1.1rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:5px solid #fff;
    &:hover{
        background-color: #fff;
        border-bottom:5px solid #ffe04c;
    }   
    }
}

.mobile-menu-list-show{ 
    @include tab-size-s{
        transition: all 0.5s;
        height:260px;
        }
}
.main{
    max-width: 1152px;
    margin: 0 auto;
}
.like-btn{
    position: absolute;
    top:5%;
    padding:3.5%;
    border-radius: 50%;
    z-index: 30;
    right:8%;
    font-size: 1.8rem;
    color: #fff;
    //color:#86aa4c;   
    //opacity: 0.7;
}

.footer{
    height: 150px;
    background-color: #7b9a48;
} 
.footer-content{
    margin:0 auto;
    max-width: 1200px;
    align-items: center;
    //padding:2%;
    display: flex;
    justify-content: center;
    color: #fff;
    .footer-content-left{
        li{
            margin-top:10px;
            font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        }
        padding:0 2%;
    }
    .footer-content-right
    {
        li{
            margin-top:10px;
            font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        }
        padding:0 2%;
    }
}

.footer-content-title{
    img{
        width:230px;
    }
}
.loginbtn-list{
    padding-top:1%;
    line-height: 60px;
}
.loginbtn-user,.loginbtn-list,.user-name{
    padding:0 10px;
    cursor: pointer;
    font-family: Arial,"微軟正黑體", "新細明體", sans-serif; 
    color: #fff;
    font-size: 1.1rem;
    i{
        font-family:"Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        }

    // @include tab-size{
    //     margin-top:10px; 
    // }    
    @include tab-size-s{
      top:120px;
    }
}
.user-wish{
    padding-top:0.5%; 
    font-family: "微軟正黑體", "新細明體", sans-serif; 
    width: 120px;    
}
.user-name{
padding-top:0.5%;    
}

.loginbtn-user,.logoutbtn-user{

  padding: 0.5%;
  padding-top:2.5%;
  width: 60px;
  text-align: center;
  padding-bottom:2.5%;


  border:1px solid #fff;
  border-radius: 30px;
  &:hover{
      background-color: #fff;
      color:  #7b9a48;
  }
}
.logoutbtn-user{
    display: none;
    //padding:0 10px;
    //margin-top:2%;
    cursor: pointer;
    font-family: Arial,"微軟正黑體", "新細明體", sans-serif; 
    color: #fff;
    font-size: 1.1rem;
    i{
        font-family:"Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        }

    @include tab-size{
        margin-top:10px; 
    }    
    @include tab-size-s{
      top:120px;
    } 
}
.login-box{
    display: none;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 3px 3px 5px #888888;
    width: 300px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top:300px;
    margin-left: 45%;
    transform: translate(-180px);
    border: 1px solid #7b9a48;
    h1{
        padding-top:5%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        
    }
}
.loginStatus{
   display: none;
   //display: block;
}

//登出成功視窗
.logout-box-success {
    display: none;
    padding:5%;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 3px 3px 5px #888888;
    width: 200px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top:300px;
    margin-left: 50%;
    transform: translate(-100px);
    border: 1px solid #7b9a48;
    div{
      text-align: center;
    }
} 
.logout-box-success-btn{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color:#7b9a48;
    position:absolute;
    top:-15px;
    right:-10px;
}
.logout-box-success-text {
    color:#fff;
    display: flex;
    font-size: 1.5rem;
    margin-left:50%;
    transform: translate(-10px); 
    margin-top:23%;
    justify-content: center;
}


//登入成功視窗
.login-box-success {
    display: none;
    padding:5%;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 3px 3px 5px #888888;
    width: 200px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top:300px;
    margin-left: 50%;
    transform: translate(-100px);
    border: 1px solid #7b9a48;
    div{
      text-align: center;
    }
} 
.login-box-success-btn{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color:#7b9a48;
    position:absolute;
    top:-15px;
    right:-10px;
}
.login-box-success-text{
    color:#fff;
    display: flex;
    font-size: 1.5rem;
    margin-left:50%;
    transform: translate(-10px); 
    margin-top:23%;
    justify-content: center;
}


//會員登入視窗
.signinBtn{
    margin-top:6%; 
}
.login-box-btn{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color:#7b9a48;
    position:absolute;
    
    top:-15px;
    right:-10px;
}
.login-box-btn-text{
    color:#fff;
    display: flex;
    font-size: 1.5rem;
    margin-left:55%;
    transform: translate(-10px); 
    margin-top:23%;
    justify-content: center;
}

#googleSingUpPopup{
    margin:0 auto;
    color:#fff ;
    background: #7b9a48;
    width: 100%;
    border: 0;
    padding: 3%;
    margin-bottom:5%;
    cursor: pointer;
    &:hover{
        background-color: #b8cf92;
    }
}

#faceSingUpPopup{
        margin:0 auto;
        color:#fff ;
        background: #5487b6;
        width: 100%;
        border: 0;
        padding: 3%;
        cursor: pointer;
        &:hover{
            background-color: gray;
        }    


}
.page-list{
    display: flex;
}

.page-Btn{
    border-radius: 50%;
    background: rgb(199, 199, 199);
    color:#fff;
    //color: #7b9a48;
    //border:1px solid #7b9a48 ;
    text-align: center;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    line-height:35px;
    margin:3px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    &:hover{
    background:#ffe04c ;
    }
}
.Add-page,.Less-page{
   color: #7b9a48;
   border-radius: 50%;
   font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
   border:1px solid #7b9a48 ;
   text-align: center;
   line-height:35px;
   margin:3px;
   width:35px;
   height: 35px;
   vertical-align: middle;
}
.btn-active{
    background-color: #7b9a48;
    color: #fff;
    
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 

}
.searchBar-Area{
    font-size: 1.1rem;
    outline:none;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    // &:hover{
    // background:#b8cf92 ;   
    // }
}
.searchBar-Country{
    font-size: 1.1rem;
    outline:none;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
}
.searchBar-Btn{
    font-size: 1.1rem;
    outline:none;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
}


//footer 圖檔
.img-fix{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom:-3%;
    img{
    width: 100%;
    object-fit: cover;
    }
}