


//標準色
$main-color-green:#7b9a48;
$second-color-green:#b8cf92;
$second-color-yellow:#ffe04c;

//字體
$main-font: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;

body{
    background-color: #e9f1e7;
}

.main{
    max-width: 1152px;
    margin: 0 auto;
    //margin-bottom: 200px;
}
.mine-top{
    padding-top:150px;
    @include tab-size-s{
    padding-top:80px;    
    }
}
.nav-bar{
    z-index: 51;
    background: linear-gradient(90deg, $main-color-green 0, #97be57 50%);
    width: 100%;
    position: fixed;
    height: 52px;
    @include tab-size-s{
    bottom:0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    height:60px;
    display: flex;
    justify-content: space-between;
    }
    
}
.nav-bar-width{
    margin:0 auto;
    max-width: 1000px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content:space-between;

}
.nav-bar-logo{
    img{
     height: 38px; 
    @media(max-width:1000px){
    padding-left: 10%;
    }   
    }
    
    @include tab-size-s{
    display: none;
    }
    
   
}
.user-login{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

}
.user-photo{
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: none;
    img{
        width: 32px;
        height: 32px;
    }
}

.title{
   background-color: #fff;
    display: flex;
    justify-content: center;
    img{
        width: 960px;
    }
  
}
.new-menu{
   z-index: 50;
   margin-top:46px;
   width: 100%;
   position: fixed;
   display: flex; 
   
   height: 65px;
   font-family: $main-font;
   justify-content:center;
   background-color: #fff;
   font-size: 1.1rem;
   letter-spacing: 0.1rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
   a{
    width: 230px;
   }
   li{
       line-height: 65px;
       text-align: center;
       position: relative;
       transition:0.3s;
       border-left: 1px #e5e5e5 solid;
       &:after{
       position: absolute;
       content: "";
       bottom:0;
       transition:0.3s;
       width: 0;
       left: 50%;
       height: 8px;
       background: $second-color-yellow;
       }
       &:hover{
       cursor: pointer;
       &:after{
        width: 100%;
        left:0;
       }    
        }   
   }
   .menu-border-right{
    border-right: 1px #e5e5e5 solid;
   }
   @include tab-size-s{
    display:none;
}
}

.mobile-menu{
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    @include tab-size-s{
        display:block;
        top:0;
        position: fixed;
        width: 100%;
        z-index: 50;
    }
}
.mobile-menu-title{
    display: none;
    background-color: #fff;
    background-color: rgb(233, 241, 231);
    background-color:$main-color-green;
    justify-content: space-between;
    @include tab-size-s{
        display:flex;
    }

}

.mobileLogo{
   margin-top:2%;
   margin-bottom:2%;
   max-width:200px;
   margin-left:18px;
}

.mobile-menu-buttom{
   font-size:23px; 
   margin-right:5%;
   margin-top:3%; 
   color: #fff;
}

.mobile-menu-list{
    display: block;
    height: 0;
    transition: all 0.5s;  
    overflow: hidden;
    color: #fff;
    li{
    text-align: center;
    font-size: 1.1rem;
    font-family: $main-font;
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:4px solid #fff;
    position: relative;
    transition:0.3s;
    &:after{
    position: absolute;
    content: "";
    bottom:0;
    transition:0.3s;
    width: 0;
    left: 50%;
    height: 4px;
    background: $second-color-yellow;
    }
    &:hover{
    cursor: pointer;
    &:after{
    width: 100%;
    left:0;
    } 
    }   
    }
}

.mobile-menu-list-show{ 
    @include tab-size-s{
        transition: all 0.5s;
        height:255px;
        }
}
.like-btn{
    position: absolute;
    top:5%;
    padding:3.5%;
    border-radius: 50%;
    z-index: 30;
    right:8%;
    font-size: 1.8rem;
    color: #fff;
}

.footer{
    height: 150px;
    position: relative;
    background-color:$main-color-green;
    @include tab-size-s{
    padding-bottom:60px;
    }
} 
.footer-content{
    margin:0 auto;
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    .footer-content-left{
        li{
            margin-top:10px;
            font-family:$main-font; 
        }
        padding:0 2%;
    }
    .footer-content-right
    {
        li{
            margin-top:10px;
            font-family: $main-font; 
        }
        padding:0 2%;
    }
}

.footer-content-title{
    img{
        width:230px;
    }
    @include tab-size-s{
        display: none;
    }
}
.loginbtn-list{
    padding-top:1%;
    line-height: 60px;
    color: #fff; 
    div{   
    font-family:$main-font;     
    }
}
.loginbtn-user,.loginbtn-list,.user-name{
    padding:0 10px;
    cursor: pointer;
    font-family:$main-font; 
    color: #fff;
    font-size: 1rem;
    i{
        font-family:$main-font; 
        }

    @include tab-size-s{
      top:120px;
    }
    @media (max-width:680px) {
    margin-right: 4%;    
    }
}
.user-wish{
    div{
    cursor: pointer;
    }
    padding-top:0.5%; 
    font-family: $main-font; 
    width: 120px;
    color: #fff; 
    @media(max-width:1024px){
        width: 150px;
    }  

}
.user-name{
display: none;   
padding-top:0.5%;
div{
color: #fff;       
} 
@media(max-width:1024px){
    width: 150px;
    text-align: center;
}   
}

.loginbtn-user,.logoutbtn-user{
  padding: 6px 2px;
  width: 60px;
  text-align: center;
  color: #fff;
  border:1px solid #fff;
  border-radius: 30px;
  &:hover{
      background-color: #fff;
      color: $main-color-green;
  }
  @media(max-width:1024px){
    margin-right:10%;
}   
}
.logoutbtn-user{
    display: none;
    cursor: pointer;
    font-family:$main-font; 
    color: #fff;
    i{
    font-family:$main-font; 
    }

    @include tab-size{
    margin-top:3px;
    padding: 1%; 
    }    
    @include tab-size-s{
    top:120px;
    } 
}
.alert-box{
    display: none;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 3px 3px 5px #888888;
    width: 300px;
    
    background-color: #fff;
    background-image: url(../img/loginBox-01.png);
    background-position: center center;
    background-size:cover;
    position: fixed;
    z-index: 60;
    top:30%;
    margin-left: 45%;
    transform: translate(-150px);
    border: 1px solid $main-color-green;
    h1{
        padding-top:5%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        font-family: $main-font;    
    }
}
.loginStatus{
   display: none;
}


//會員登入視窗
.signinBtn{
    margin-top:6%; 
}
.box-btn{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color:$main-color-green;
    position:absolute; 
    top:-15px;
    right:-10px;
    &:hover{
    background-color:#97b36a;    
    }
}
.login-box-btn-text{
    color:#fff;
    display: flex;
    font-size: 1.5rem;
    margin-left:55%;
    transform: translate(-10px); 
    margin-top:23%;
    justify-content: center;
}

#googleSingUpPopup{
    margin:0 auto;
    color:#fff ;
    background: $main-color-green;
    width: 100%;
    border: 0;
    padding: 3%;
    box-sizing: border-box;
    margin-bottom:5%;
    cursor: pointer;
    &:hover{
        background-color: #b8cf92;
    }
}

#faceSingUpPopup{
        margin:0 auto;
        color:#fff ;
        background: #5487b6;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        padding: 3%;
        cursor: pointer;
        &:hover{
            background-color: #92b4d4;
        }    
}
.page-list{
    display: flex;
}

.page-Btn{
    cursor: pointer;
    border-radius: 50%;
    background: rgb(199, 199, 199);
    color:#fff;
    text-align: center;
    font-family:$main-font; 
    line-height:35px;
    margin:3px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    &:hover{
    background:$second-color-yellow;
    }
    @media (max-width:500px) {
     display: none;   
    }
}
.Add-page,.Less-page{
   color:$main-color-green;
   border-radius: 50%;
   font-family: $main-font; 
   border:1px solid $main-color-green;
   text-align: center;
   line-height:35px;
   margin:3px;
   width:35px;
   height: 35px;
   vertical-align: middle;
}
.btn-active{
    background-color: $main-color-green;
    color: #fff;
    font-family:$main-font; 
    @media (max-width:500px) {
    display:block;   
    }
}
.searchBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom:3%;
    @include tab-size-L {
        padding: 0 3%;  
        box-sizing: border-box;
    }
    @media(max-width: 680px){
        display: block;
        margin-bottom:0;
        
    }
 
}
.searchBar-Area{
    font-size: 1.1rem;
    cursor: pointer;
    border-left:2px solid $second-color-green;
    outline:none;
    font-family: $main-font; 
    option{
    color: #000;
    text-align: center;
    }
    @include phone-size {
    border-left:0px;
    border-bottom:2px solid $second-color-green;   
    }
}
.searchBar-Country{
    cursor: pointer;
    font-size: 1.1rem;
    border-left:2px solid $second-color-green;
    outline:none;
    font-family:$main-font ; 
    @include phone-size{
        border-left:0px;
        border-bottom:2px solid $second-color-green;   
        }

}
.searchBar-group{
    select{
    width: 100%; 
    padding:1%; 
    text-align: center;
    text-align-last: center;
    

    //取消向下預設箭頭
    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
    &::-ms-expand{ display: none; }

    @include phone-size{
        padding:2%;
    }

    }
    option{
        text-align: center;
        text-align-last: center;
    }
    div{
    width: 100%;
    padding:1%;
    background-color: #fff;
    @include phone-size{
      width: auto;
      padding:2%;
    }
    }
    display: flex;
    width: 80%;
    text-align: center;
    @media(max-width: 680px){
    width: 100%;
    box-sizing: border-box;
    padding: 0 3%;
    margin-bottom:2%;
    }
    @include tab-size-s{
        margin-bottom:0;
    }
    @include phone-size{
        display: block;   
    }
    
    .searchBar-Btn{
        cursor: pointer;
        font-size: 1.1rem;
        line-height: 24px;
        background-color:$main-color-green;
        color: #fff;
        outline:none;
        font-family: $main-font; 
        &:active{
        background-color:#97be57;
        color: #000;
        }
    }   

    

}
.searchBar-Input{
    input{
        width:300px;
        border: 0px;
        background-color: #fff;
        outline: none;
        @include tab-size{
        width:200px;
       
        }
        @include phone-size {
          width: 100%;  
        }
    }
}

//footer 圖檔
.img-fix{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
   
    justify-content: center;
    margin-bottom:-3%;
    img{
    width: 100%; 
    margin-top: 6%;
    object-fit: cover;
    @include tab-size{
    margin-top: 12%;    
    }
    @include tab-size-s{
    margin-top: 20%;    
    }
    @include tab-size-s{
    margin-top: 30%;    
    }
    

    }
}

.loading{
    display: flex;
    justify-content: center;
    padding-top:150px;
    padding-bottom:200px;
}

//分頁按鈕列
.page-bar{
    display: flex;
    justify-content: center;
    margin:5% 0;
    align-items: center;
}

.Less-page,.Add-page {
    &:hover{
        cursor: pointer;    
        color: $second-color-green;    
    }
}

.box-open{
    display: block;
}
.cover{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 60;
    overflow-y:auto;
}
.fixed{ 
    overflow-y:hidden;
}
.scroll-top{
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer; 
    border-radius: 50%;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $second-color-green;
    position: fixed;
    bottom:70px;
    z-index: 99;
    &:hover{
        background-color: #97be57;
    }
}