// body{
//     background-color: #f8f6ec;
// }

@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
.mine-top{
padding-top:150px;
@include tab-size-s{
padding-top:80px;    
}
}
.nav-bar{
    z-index: 51;
    background: #7b9a48;
    width: 100%;
    position: fixed;
    height: 46px;
    @include tab-size-s{
    bottom:0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    height:60px;
    display: flex;
    justify-content: space-between;
    }
    
}
.nav-bar-width{
    margin:0 auto;
    max-width: 1000px;
    //padding: 1%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content:space-between;

}
.nav-bar-logo{
    img{
     height: 38px; 
    @media(max-width:1000px){
    padding-left: 10%;
    }   
    }
    
    @include tab-size-s{
    display: none;
    }
    
   
}
.user-login{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

}
.user-photo{
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: none;
    img{
        width: 32px;
        height: 32px;
    }
}

.title{
   background-color: #fff;
    display: flex;
    justify-content: center;
    //padding:5% 0;
    img{
        width: 960px;
        //max-width: 960px;
    }
  
}
.menu{
    @include tab-size-s{
        display:none;
    }
    a{      
        width: 230px;
        margin-left:5%;
        margin-right:5%;
        height: 50px;
        line-height:50px;
        margin:0 auto;
        font-size: 1.1rem;
        background: #7b9a48;
        color: #fff;
        font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
        text-align: center;
        &:hover{
            background: #c9e49d;
            color: #3a5215;
        }
    }
  
    max-width:1000px;
    margin:0 auto;
    margin-top:3%;
    margin-bottom:3%;
    display: flex;
}
.new-menu{
   z-index: 50;
   margin-top:46px;
   width: 100%;
   position: fixed;
   display: flex; 
   
   height: 65px;
   font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
   justify-content:center;
   background-color: #fff;
   font-size: 1.1rem;
   letter-spacing: 0.1rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
   a{
    width: 230px;
    border-bottom:8px solid  #fff;
    &:hover{
    border-bottom:8px solid  #ffe04c;    
    }
   }
   li{
       line-height: 65px;
       text-align: center;
       border-left: 1px #e5e5e5 solid;
       
   }
   .menu-border-right{
    border-right: 1px #e5e5e5 solid;
   }
   @include tab-size-s{
    display:none;
}
}

.mobile-menu{
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    @include tab-size-s{
        display:block;
        top:0;
        position: fixed;
        width: 100%;
        z-index: 50;
    }
}
.mobile-menu-title{
    display: none;
    //padding-top:46px;
    background-color: #fff;
    background-color: rgb(233, 241, 231);
    background-color: #7b9a48;
    justify-content: space-between;
    @include tab-size-s{
        display:flex;
    }

}

.mobileLogo{
   margin-top:2%;
   margin-bottom:2%;
   max-width:200px;
   margin-left:18px;
}

.mobile-menu-buttom{
   font-size:23px; 
   margin-right:5%;
   margin-top:3%; 
   color: #fff;
}

.mobile-menu-list{
    display: block;
    height: 0;
    transition: all 0.5s;  
    overflow: hidden;
    color: #fff;
    li{
    text-align: center;
    font-size: 1.1rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    padding-top:15px;
    padding-bottom:15px;
    border-bottom:5px solid #fff;
    &:hover{
        background-color: #fff;
        border-bottom:5px solid #ffe04c;
    }   
    }
}

.mobile-menu-list-show{ 
    @include tab-size-s{
        transition: all 0.5s;
        height:260px;
        }
}
.main{
    max-width: 1152px;
    margin: 0 auto;
}
.like-btn{
    position: absolute;
    top:5%;
    padding:3.5%;
    border-radius: 50%;
    z-index: 30;
    right:8%;
    font-size: 1.8rem;
    color: #fff;
    //color:#86aa4c;   
    //opacity: 0.7;
}

.footer{
    height: 150px;
    background-color: #7b9a48;
    @include tab-size-s{
    padding-bottom:60px;
    }
} 
.footer-content{
    margin:0 auto;
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    .footer-content-left{
        li{
            margin-top:10px;
            font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        }
        padding:0 2%;
    }
    .footer-content-right
    {
        li{
            margin-top:10px;
            font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        }
        padding:0 2%;
    }
}

.footer-content-title{
    img{
        width:230px;
    }
    @include tab-size-s{
        display: none;
    }
}
.loginbtn-list{
    padding-top:1%;
    line-height: 60px;
}
.loginbtn-user,.loginbtn-list,.user-name{
    padding:0 10px;
    cursor: pointer;
    font-family: Arial,"微軟正黑體", "新細明體", sans-serif; 
    color: #fff;
    font-size: 1.1rem;
    i{
        font-family:"Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        }

    @include tab-size-s{
      top:120px;
    }
    @media (max-width:680px) {
    margin-right: 4%;    
    }
}
.user-wish{
    padding-top:0.5%; 
    font-family: "微軟正黑體", "新細明體", sans-serif; 
    width: 120px; 
    @media(max-width:1024px){
        width: 150px;
    }  

}
.user-name{
display: none;    
padding-top:0.5%; 
@media(max-width:1024px){
    width: 150px;
    text-align: center;
}   
}

.loginbtn-user,.logoutbtn-user{
  padding: 0.5%;
  padding-top:2.5%;
  width: 60px;
  text-align: center;
  padding-bottom:2.5%;
  border:1px solid #fff;
  border-radius: 30px;
  &:hover{
      background-color: #fff;
      color:  #7b9a48;
  }
  @media(max-width:1024px){
    margin-right:10%;
}   
}
.logoutbtn-user{
    display: none;
    //padding:0 10px;
    //margin-top:2%;
    cursor: pointer;
    font-family: Arial,"微軟正黑體", "新細明體", sans-serif; 
    color: #fff;
    font-size: 1.1rem;
    i{
        font-family:"Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        }

    @include tab-size{
        margin-top:3px;
        padding: 1%; 
    }    
    @include tab-size-s{
      top:120px;
    } 
}
.login-box{
    display: none;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 3px 3px 5px #888888;
    width: 300px;
    
    background-color: #fff;
    background-image: url(../img/loginBox-01.png);
    background-position: center center;
    background-size:cover;
    position: fixed;
    z-index: 60;
    top:30%;
    margin-left: 45%;
    transform: translate(-150px);
    border: 1px solid #7b9a48;
    h1{
        padding-top:5%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;    
    }
}
.loginStatus{
   display: none;
   //display: block;
}

//登出成功視窗
.logout-box-success {
    display: none;
    padding:5%;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 3px 3px 5px #888888;
    width: 200px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top:300px;
    margin-left: 50%;
    transform: translate(-100px);
    border: 1px solid #7b9a48;
    div{
      text-align: center;
    }
} 
.logout-box-success-btn{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color:#7b9a48;
    position:absolute;
    top:-15px;
    right:-10px;
}
.logout-box-success-text {
    color:#fff;
    display: flex;
    font-size: 1.5rem;
    margin-left:50%;
    transform: translate(-10px); 
    margin-top:23%;
    justify-content: center;
}


//登入成功視窗
.login-box-success {
    display: none;
    padding:5%;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 3px 3px 5px #888888;
    width: 200px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top:300px;
    margin-left: 50%;
    transform: translate(-100px);
    border: 1px solid #7b9a48;
    div{
      text-align: center;
    }
} 
.login-box-success-btn{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color:#7b9a48;
    position:absolute;
    top:-15px;
    right:-10px;
}
.login-box-success-text{
    color:#fff;
    display: flex;
    font-size: 1.5rem;
    margin-left:50%;
    transform: translate(-10px); 
    margin-top:23%;
    justify-content: center;
}


//會員登入視窗
.signinBtn{
    margin-top:6%; 
}
.login-box-btn{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background-color:#7b9a48;
    position:absolute; 
    top:-15px;
    right:-10px;
    &:hover{
    background-color:#97b36a;    
    }
}
.login-box-btn-text{
    color:#fff;
    display: flex;
    font-size: 1.5rem;
    margin-left:55%;
    transform: translate(-10px); 
    margin-top:23%;
    justify-content: center;
}

#googleSingUpPopup{
    margin:0 auto;
    color:#fff ;
    background: #7b9a48;
    width: 100%;
    border: 0;
    padding: 3%;
    box-sizing: border-box;
    margin-bottom:5%;
    cursor: pointer;
    &:hover{
        background-color: #b8cf92;
    }
}

#faceSingUpPopup{
        margin:0 auto;
        color:#fff ;
        background: #5487b6;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        padding: 3%;
        cursor: pointer;
        &:hover{
            background-color: #92b4d4;
        }    


}
.page-list{
    display: flex;
}

.page-Btn{
    border-radius: 50%;
    background: rgb(199, 199, 199);
    color:#fff;
    //color: #7b9a48;
    //border:1px solid #7b9a48 ;
    text-align: center;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    line-height:35px;
    margin:3px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    &:hover{
    background:#ffe04c ;
    }
    @media (max-width:500px) {
     display: none;   
    }
}
.Add-page,.Less-page{
   color: #7b9a48;
   border-radius: 50%;
   font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
   border:1px solid #7b9a48 ;
   text-align: center;
   line-height:35px;
   margin:3px;
   width:35px;
   height: 35px;
   vertical-align: middle;
}
.btn-active{
    background-color: #7b9a48;
    color: #fff;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    @media (max-width:500px) {
    display:block;   
    }
}
.searchBar-Area{
    font-size: 1.1rem;
    border-left:2px solid #97be57;
    outline:none;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    option{
    color: #000;
    text-align: center;
    }
    @include phone-size {
    border-left:0px;
    border-bottom:2px solid #97be57;   
    }
}
.searchBar-Country{
    font-size: 1.1rem;
    border-left:2px solid #97be57;
    outline:none;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    @include phone-size{
        border-left:0px;
        border-bottom:2px solid #97be57;   
        }

}


.searchBar-group{
    select{
    width: 100%; 
    padding:1%; 
    //border:1px solid; 
    text-align: center;
    text-align-last: center;
    

    //取消向下預設箭頭
    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
    &::-ms-expand{ display: none; }

    @include phone-size{
        padding:2%;
    }

    }
    option{
        text-align: center;
        text-align-last: center;
    }
    div{
    width: 100%;
    padding:1%;
    background-color: #fff;
    @include phone-size{
      width: auto;
      padding:2%;
    }
    }
    display: flex;
    width: 80%;
    text-align: center;
    @media(max-width: 680px){
    width: 100%;
    box-sizing: border-box;
    padding: 0 3%;
    margin-bottom:2%;
    }
    @include tab-size-s{
        margin-bottom:0;
    }
    @include phone-size{
        display: block;   
    }
    
    .searchBar-Btn{
        font-size: 1.1rem;
        line-height: 24px;
        background-color:#7b9a48;
        color: #fff;
        outline:none;
        font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        &:active{
        background-color:#97be57;
        color: #000;
        }
    }   

    

}
.searchBar-Input{
    input{
        width:300px;
        border: 0px;
        background-color: #fff;
        outline: none;
        @include tab-size{
        width:200px;
       
        }
        @include phone-size {
          width: 100%;  
        }
    }
}



//footer 圖檔
.img-fix{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom:-3%;
    img{
    width: 100%;
    object-fit: cover;
    }
}