//標準色
$main-color-green: #15713d;
$second-color-green: #b8cf92;
$second-color-yellow: #ffe04c;
//swiper components
html,
body {
  position: relative;
  height: 100%;
}
body {
  //background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}
.swiper-slide-1 {
  background-image: url(../img/banner-bg-06.jpg);
}
.swiper-slide-2 {
  background-image: url(../img/banner-bg-05.jpg);
}
.swiper-slide-3 {
  background-image: url(../img/banner-bg-03.jpg);
}
.swiper-wrapper {
  height: 800px;
  @include tab-size-L {
    height: 600px;
  }
  @include tab-size-s {
    height: 500px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
.swiper-pagination {
  margin-bottom: 30px;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active {
  background-color: $second-color-yellow;
}
//banner btn distance
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-left: 20px;
}
//banner logo
.swiper-banner-logo-position {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 49;
}
.swiper-banner-logo {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  margin-top: 8%;
  z-index: 48;
  @include tab-size-s {
    margin-top: 15%;
  }
}
.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
  z-index: 50;
}
.swiper-banner-img {
  width: 100%;
  height: 100%;
}

.swiper-banner-bird {
  width: 150px;
  height: 150px;
  @include tab-size {
    width: 80px;
    height: 80px;
  }
  z-index: 50;
  margin-left: 76%;
  position: relative;
  animation: move infinite;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  /* Safari and Chrome */
  -webkit-animation: move infinite;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: alternate-reverse;
  img {
    width: 100%;
    height: 100%;
  }
}
@keyframes move {
  from {
    top: -150px;
  }
  to {
    top: -120px;
  }
}

@-webkit-keyframes move {
  from {
    top: -150px;
  }
  to {
    top: -120px;
  }
}
