


.travelpage-main-content{
    display: flex;
    margin-bottom: 3.5%;
    @include tab-size{
        margin-top:4%;
        display: block;
    }
}
.travelpage-left{
    margin:0 2%;    
    width: 100%;
    padding-bottom:3%; 
    box-sizing: border-box;
    border: 1px solid;
    //height: 1000px;
    @include tab-size{
        margin: 0 auto;
        margin-bottom:5%;
        width: 90%;
    }

}
.travelpage-img{
    width:90%;
   // height:460px;
    object-fit: cover;
    margin:0 auto;
    margin-top:5%;
    display: flex;

   // background:gray;
}
.travelpage-right{
    margin:0 2%;
    width: 80%;
    box-sizing: border-box;
    //border: 1px solid gray;
    //height: 600px;
    @include tab-size{
        margin: 0 auto;
        width: 90%;
    }
}
.travelpage-message{
    margin:0 2%;
    margin-bottom: 2%;
    width: 96%;
    //margin:0 auto;
    padding:2% 0;
    //padding: 5%;
    box-sizing: border-box;
    border:1px solid;
    @include tab-size{
        margin: 0 auto;
        margin-bottom:5%;
        width: 90%;
    }
}
.travelpage-message-content{
    padding:1% 0;
}
.travelpage-message-text{
    font-size: 1.2rem;
    margin-left:2%;

}
.travelpage-message-memo{
    line-height: 1.2rem;
    margin:0 2%;
    padding-bottom:1%;
    border-bottom:1px solid;
}
.travelpage-message-title{
    display:flex;
    font-size: 1.2rem;
    margin: 1% 2%;
    justify-content: space-between;
}
.travelpage-message-btn{
   padding:1%;
   width: 100px;
   border:1px solid;
   text-align: center;
   border-radius: 5px;
   margin:0 auto;
   margin-top:3%;
   margin-bottom:5%;
   
   &:hover{
       background-color: gray;
   }
}

.travelpage-message-comment{
    display: none;
    margin:0 2%;
    width: 96%;
    margin:0 auto;
    margin-bottom: 2%;
    padding:2% 1.5%;
    box-sizing: border-box;
    border:1px solid;
    @include tab-size{
        margin: 0 auto;
        margin-bottom:5%;
        width: 90%;
    }

    .comment-title{
        font-size: 1.2rem;
        //margin-left:2%;
        margin-bottom:1.6%;
    }
    .comment-input{
       // display: flex;
        width:96%;
        border-radius: 5px;
        margin:0 auto;
        padding:1.6%;
        height: 150px;
        font-size: 1.2rem;
       
    }
    .comment-btn{
        display: flex;
        justify-content: center;
        .comment-submit-btn,.comment-cancel-btn{
            padding:1%;
            width: 100px;
            border:1px solid;
            text-align: center;
            border-radius: 5px;
            margin:0 1%;
            margin-top:2%;
            //margin-bottom:1%;
        &:hover{
            background-color: gray;
        }
        } 
    }
    input{
        width: 200px;
        height: 300px;
    }
}

.travelpage-map{
    width: 100%;
    height: 350px;
    padding:5%;
    box-sizing: border-box;
    border: 1px solid;
    div{
        width: 100%;
        height: 100%;
        //background-color: gray;
    }

}
.travelpage-content{
    margin:0 5%;
    margin-top:3%;
}
.travelpage-name{
    font-size: 1.5rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    margin-bottom:3%;
}
.travelpage-place{
    display: flex;
    font-size: 1.3rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    margin-bottom:3%;
}
.travelpage-city{
    margin-right: 3%;
}
.travelpage-tel{
    font-size: 1rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    margin-bottom:3%;
}
.travelpage-text{
    line-height: 1.5rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
}
.travelpage-other{
    .other-title { 
        display:flex;
        justify-content: space-between;
        div{
        font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        font-size: 1.2rem;
        margin-top:5%;
        margin-bottom: 3%;
        }
    }
    .other-space{
        width: 80%;
        //border:1px solid;
        display:flex;
        padding:1.5% 0;
        align-items: center;
    }
    .other-img{
        width: 30%;
        height: 100px;
        border:1px solid;
        padding:2.2%;
        box-sizing: border-box;
        object-fit: cover;
     
    }
    .other-name{
       padding-left:5%; 
       font-size: 1.2rem;
       font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    }
}
