


.travelpage-main-content{
    display: flex;
    margin-bottom: 3.5%;
    @include tab-size{
        margin-top:4%;
        display: block;
    }
}

.travelpage-left{
    box-shadow: 3px 3px 10px #ddddddf5;
    margin:0 2%;    
    width: 100%;
    padding-bottom:3%; 
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    //border: 1px solid;
    //height: 1000px;
    @include tab-size{
        margin: 0 auto;
        margin-bottom:5%;
        width: 90%;
    }

}
.travelpage-img{
    width:90%;
    object-fit: cover;
    margin:0 auto;
    margin-top:5%;
    display: flex;
    border-radius: 10px;
    @include tab-size{
    padding-top: 5%;    
    } 

}
.travelpage-right{
    
    margin:0 2%;
    width: 45%;
    box-sizing: border-box;
    @include tab-size{
        margin: 0 auto;
        width: 90%;
    }
}
.travelpage-message{
    margin:0 2%;
    margin-bottom: 2%;
    width: 96%;
    //margin:0 auto;
    padding:2% 0;
    //padding: 5%;
    box-sizing: border-box;
    border-radius:5px ;
    background-color: #fff;
    box-shadow:3px 3px 10px #ddddddf5 ;
    @include tab-size{
        margin: 0 auto;
        margin-bottom:5%;
        margin-top: 10%;
        width: 90%;
    }
}
.travelpage-message-content{
    display: flex;
    padding:0.5% 0;
    //border-radius:5px ;
    //border-top:1px dashed  #b8cf92;
    border-bottom:1.2px dashed  #b8cf92;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2%;
    //background-color:#e9f1e7;


}

.travelpage-message-content-left{
    
    margin-left:2%;
    margin-right:1%;
    img{
        width:80px;
        height:80px;
        border-radius: 50%;
    }
}
.travelpage-message-content-right{
width: 100%;
}


.travelpage-message-text{
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
    font-size: 1.2rem;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 2%;
    padding-bottom: 10px;
    border-bottom:1px #7b9a48 solid;

}
.travelpage-message-memo{
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
    line-height: 2rem;
    margin:0 2%;
    padding-bottom:1%;
    //border-bottom:1px solid;
}
.travelpage-message-title{
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
    display:flex;
    font-size: 1.2rem;
    margin: 1% 2%;
    justify-content: space-between;
}
.travelpage-message-time{
    font-size: 0.8rem;
}
.travelpage-message-btn{
    height: 20px;
    width: 120px;
    line-height: 20px;
    margin:0 auto;
    margin-top:3%;
    margin-bottom:5%;
    text-align: center;
    color: #fff;
    background-color: #7b9a48;
    border: 1.5px solid #7b9a48;
    border-radius: 30px;
    padding:1%;
    font-size: 1.2rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
    &:hover{
        border:1.5px solid  #b8cf92 ;
        background:#b8cf92 ;
    }
}

.travelpage-message-comment{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ddddddf5;
    display: none;
    margin:0 2%;
    width: 96%;
    margin:0 auto;
    margin-bottom: 2%;
    padding:2% 1.5%;
    box-sizing: border-box;
    @include tab-size{
        margin: 0 auto;
        margin-bottom:5%;
        width: 90%;
    }

    .comment-title{
        font-size: 1.2rem;
        //margin-left:2%;
        margin-bottom:1.6%;
    }
    .comment-input{
       // display: flex;
        width:96%;
        border-radius: 5px;
        margin:0 auto;
        padding:1.6%;
        height: 150px;
        font-size: 1.2rem;
       
    }
    .comment-btn{
        display: flex;
        justify-content: center;
        .comment-submit-btn,.comment-cancel-btn{
            align-items: flex-start;
            font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
            padding:1%;
            line-height: 1.5rem;
            width: 100px;
            border:1px solid;
            text-align: center;
            font-size: 1.2rem;
            border-radius: 30px;
            margin:0 1%;
            margin-top:2%;
            color: #7b9a48;
            //background-color: #7b9a48;
            border: 1.5px solid #7b9a48;
        &:hover{
            border:1.5px solid #7b9a48 ;
            background-color: #7b9a48;
            color: #fff;
        }
        } 
    }
    input{
        width: 200px;
        height: 300px;
    }
}

.travelpage-map{
    box-shadow: 3px 3px 10px #ddddddf5;
    width: 100%;
    height: 300px;
    padding:5%;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 10%;
    @include tab-size{
    padding:3%;
    }
    div{
        width: 100%;
        height: 100%;
        
    }

}
.travelpage-content{
    margin:0 5%;
    margin-top:3%;
}
.travelpage-name{
    font-size: 1.5rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    margin-bottom:3%;
}
.travelpage-place{
    display: flex;
    font-size: 1.3rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    margin-bottom:3%;
}
.travelpage-city{
    margin-right: 3%;
}
.travelpage-tel{
    font-size: 1rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    margin-bottom:3%;
}
.travelpage-text{
    line-height: 1.8rem;
    font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
}
.travelpage-other{
    .other-title { 
        display:flex;
        justify-content: space-between;
        margin-bottom:5%;
        div{
        font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
        font-size: 1.3rem;
        font-weight: 530;
        color: #7b9a48 ;
        margin-top:5%;
        margin-bottom: 3%;
        }
    }
    .other-space{
        width: 100%;
        display:flex;
        padding:1.5% 0;
        align-items: center;
        border-bottom:1px dashed  #b8cf92;
    }
    .other-img{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        padding:1.5%;
        box-sizing: border-box;
        object-fit: cover;
        &:hover{
        filter: brightness(1.2);
        }
        @include tab-size{
            width: 100px;
            height: 100px;
        }
     
    }
    .other-name{
       padding-left:5%; 
       font-size: 1.2rem;
       font-family: "Lato","PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif; 
    }
    .other-more{
        a{
        color: gray;
        &:hover{
        color:#7b9a48 ; 
        }
        }

    }
}
