@mixin phone-size {
    @media (max-width: 460px) {
      @content;
    }
  }

@mixin tab-size {
    @media (max-width: 768px) {
      @content;
    }
  }
  @mixin tab-size-s {
    @media (max-width: 600px) {
      @content;
    }
  }  
//臉書粉絲專業 rwd
// .fb-comments, .fb-comments iframe[style] {
// 	width: 100% !important;
// }
// .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
// 	width: 100% !important;
// }


.title{
    background-color: gray;
    height: 400px;
    max-width:100%; 
  
}
.menu{
    @include phone-size{
        display:none;
    }
    li{      
        width: 230px;
        margin-left:5%;
        margin-right:5%;
        height: 50px;
        line-height:50px;
        margin:0 auto;
        background: #626262;
        
        text-align: center;
        &:hover{
            background: #a7a7a7;
        }
    }
    max-width:1000px;
    margin:0 auto;
    margin-top:-3%;
    margin-bottom:3%;
    display: flex;
}
.mobile-menu-title{
    display: none;
    //padding: 20px 0;
    margin:8px 0;
    justify-content: space-between;
    @include phone-size{
        display:flex;
    }

}

.mobileLogo{
   max-width:200px;
   margin-left:18px;
}

.mobile-menu-buttom{
   font-size:23px; 
   margin-right:5%;
   margin-top:3%; 
}

.mobile-menu-list{
    display: block;
    height: 0;
    background: #a7a7a7;
    transition: all 0.5s;  
    overflow: hidden;
    li{
    text-align: center; 
    padding-top:10px;
    padding-bottom:12px;   
    }
}

.mobile-menu-list-show{ 
    @include phone-size{
        transition: all 0.5s;
        height:152px;
        }
}
.index-main{
    display:flex;
    max-width: 1200px;
    margin:0 auto;
    @include tab-size-s{
    display: block;
    }
    .index-main-right{
        box-sizing: border-box;
        width: 50%;
        padding:3%;
        border:1px solid;
        @include tab-size{
        width: 100%;
        }
        .index-main-title{
         padding-bottom:5%;   
        }
        .index-main-crad{
        border:1px solid;
        padding:5%;
        }
        
    }
    .index-main-left{
        align-items: center;
        box-sizing: border-box;
        width: 50%;
        padding:3%;
        border:1px solid;
        @include tab-size{
        width: 100%;
        }
    }
}


.footer{
    height: 200px;
    background: gray;
} 
.footer-content{
    margin:0 auto;
    max-width: 1200px;
    padding:3%;
    display: flex;
    .footer-content-left{
        li{
            margin-top:10px;
        }
        padding:0 2%;
    }
    .footer-content-right
    {
        li{
            margin-top:10px;
        }
        padding:0 2%;
    }
}
.footer-content-title{
    margin-top:10px;
}